 <!DOCTYPE html>
<html>
    <a href='http://www.freepik.com/free-vector/horror-night-background_753526.htm'>Designed by Freepik</a>
  <head>
  <link rel="stylesheet" href="style.css">
  <style>
    body {
           background-image: url("halloween4.jpg");
         }
</style>
    <title>{{ R8 and H8 }}</title>
    <h1> R8 or H8 </h1>
    <h2>Welcome to your doom!</h2>
    <a href="signup">Sign Up</a>
    <a href="costumes">Costumes</a>
    <a href="myaccount">Profile</a>

  </head>
  <body>
    <p>Welcome ghoulish beings. Here we R8 and H8 halloween costumes.
      Upload your own costumes or lurk the cavernous depths of our website for others' disguises.</p>
  </body>
</html>
